<!DOCTYPE html>
<html ng-app>
<head>
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name="viewport" content="width=device-width" />
    <title>Sign Language Application</title>

    <link rel="stylesheet" href="scripts/jquery.mobile-1.4.5.css" />

    <script type="text/javascript" charset="utf-8" src="scripts/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="scripts/jquery.mobile-1.4.5.js"></script>
    <script type="text/javascript" charset="utf-8" src="scripts/angular.js"></script>
    <script type="text/javascript" charset="utf-8" src="scripts/lodash.js"></script>


    <script src="mainController.js"></script>


</head>

<body>
    <div ng-controller="HomeCtrl as ctrl">

        <div id="categories">
                <ul data-role="listview" data-inset="true">
                        
                    <li ng-repeat="category in ctrl.categories"><a ng-click="ctrl.showWords(category)" href="#">
                             <img src="icons/Can_I.png">
                             <h1>{{category.name}}</h1>
                    </a>
                            
                    </li>
                 </ul>
            </div>

            <!--div id="categories1" class="ui-grid-d"}>
                <div ng-repeat="category in ctrl.categories" ng-click="ctrl.showWords(category)" class="ui-block-a"><input type="button" data-icon="giraffe" value={{category.name}}></div>
        </div-->

        <div id="words">
                <ul data-role="listview" data-inset="true">
                        
                    <li ng-repeat="word in ctrl.currentWords"><a ng-click="ctrl.showMovie()" href="#">
                             <img src="icons/Can_I.png">
                             <h1>{{word.name}}</h1>
                    </a>
                            
                    </li>
                </ul>
            <div>
                <input  id="upBtn" class="ui-block-a" type="button" value="UP" ng-hide ng-click="ctrl.showCategories()">
            </div>
        </div>

        <!--div id="words" class="ui-grid-d">
            <div>
                <div ng-repeat="word in ctrl.currentWords" ng-click="ctrl.showMovie()" class="ui-block-a"><input type="button" data-icon="giraffe" value={{word.name}}></div>
            </div>
            <div>
                <input  id="upBtn" class="ui-block-a" type="button" value="UP" ng-hide ng-click="ctrl.showCategories()">
            </div>
        </div-->


        <!--div>
            <input ng-model="ctrl.newContactName" /><button ng-click="ctrl.add()">Add</button>
        </div-->



</body>
</html>